# Compiled
*.elc

# Packaging
.cask

# Backup files
*~
*.~undo-tree
undo

# Buffers
~$
\#
.\#

# Other
var
custom.el
projects
.lsp-session-v1
auto-save-list/
eln-cache/
elpa/
org-roam.db
projectile-bookmarks.eld
recentf
tramp
transient/
