
custom.el

# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# Buffers
~$
\#
.\#

# Other
.lsp-session-v1
auto-save-list/
eln-cache/
elpa/
org-roam.db
projectile-bookmarks.eld
recentf
tramp
transient/
